*{
  font-family: "montserrat",sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
.page{
  background: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
}
.col{
  flex: 1;
  height: 100vh;
  position: relative;
}
.countdown-col{
  background: url(bg.png) no-repeat center;
  background-size: cover;
}
.time {
  color: #fff;
  text-transform: uppercase;
  width: 90%;
  display: flex;
  justify-content: center;
}
.title{
  color: #fff;
  text-transform: uppercase;
  width: 90%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  background-color: rgba(57, 194, 235, 0.26); 
  border-radius: 20px;
  line-height: 40px;
  
}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.time span{
  padding: 0 14px;
  font-size: 10px;
}
.time span div{
  font-size: 40px;
}

.newsletter{
  width: 90%;
}
.newsletter h4{
  font-style: italic;
  font-size: 12px;
}
.newsletter input{
  display: block;
  margin: 12px auto;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  padding: 14px 20px;
  border-radius: 30px;
  border: 1px solid #ddd;
  outline: none;
}
.newsletter-btn{
  background: linear-gradient(125deg,#3498db,#34495e);
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}
.newsletter-btn:hover{
  opacity: .7;
}

@media screen and (max-width :900px){
  .col{
    flex: 100%;
  }
}
.card{
  width: 350px;
  background: #f1f1f1;
  overflow: hidden;
  font-family: "montserrat",sans-serif;
  box-shadow: 0 0 20px #00000070;
}

.top-section{
  position: relative;
}
.top-section img{
  width: 100%;
}
.name{
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 40px;
  font-weight: 900;
  opacity: 0.9;
  color: #dddbca;
}
.name span{
  text-transform: uppercase;
  font-weight: 600;
}

.info-section{
  padding: 40px;
  padding-top: 0;
  color: #333;
}
h2{
  position: relative;
  font-size: 16px;
}
.border{
  width: 30px;
  height: 3px;
  background: #778beb;
  position: absolute;
  left: 0;
  bottom: -6px;
}
p{
  text-align: justify;
  font-size: 14px;
}

.s-m{
  text-align: center;
  margin-top: 20px;
}
.s-m a{
  text-decoration: none;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 0 14px;
  transition: .4s;
}

.s-m a:hover{
  color: #778beb;
}



